<nav>
    <div class="site-title">
      <a href="/">Isabella Powell</a> 
      <p>This is a project for my portfolio! Showcasing dynamic content rendering, web design, and interactive blog features.</p> <!-- Project summary -->
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">Create</a></li>
    </ul>
  </nav>
  