<html>
  <%- include('partials/head') %>  <!-- Including the head partial -->

  <body>
    <%- include('partials/nav') %>  <!-- Including the navigation partial -->

    <div class="about content">
      <h2>About Us</h2>
      <p>This is a project for Isabella Powell's portfolio</p>
    </div>

    <%- include('partials/footer') %>  <!-- Including the footer partial -->
  </body>
</html>
