<html>
  <%- include('partials/head') %>  <!-- Including the head partial -->

  <body>
    <%- include('partials/nav') %>  <!-- Including the navigation partial -->

    <div class="blogs content">
      <h2>All Blogs</h2>
      <!-- You can add dynamic content for blogs here -->
    </div>

    <%- include('partials/footer') %>  <!-- Including the footer partial -->
  </body>
</html>
